.mainsidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: brown;
  width: 25%;
  height: 100vh;
  animation: slidein 1s linear forwards;
}

.headtitle {
  width: 100%;
  background-color: black;
  height: 20vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  position: relative;
}

.sidebaropen {
  width: auto;
  height: 10vh;
  font-size: larger;
  font-weight: bolder;
  /* background-color: aqua; */
  position: fixed;
  top: 30vh;
  left: -4px;
}
.sidebaropen:hover {
  background-color: aqua;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.togglebtn {
  background-color: aqua;
  width: 100%;
  height: 5vh;
  display: flex;
}
.btn1 {
  width: 50%;
  border: none;
  border-right: 1px solid black;
}

.btn1:hover {
  cursor: pointer;
  box-shadow: 0 0 10px white;
}


.btn1:focus {
  background-color: rgb(0, 179, 0);
  box-shadow: 0 0 10px rgb(0, 179, 0) ;
}

.maincontent {
  background-color: brown;
  width: 100%;
  height: 100vh;
}

.about {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-top: 1.5rem;
  color: whitesmoke;
}

.contact {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.contact h4 {
  padding-left: 1rem;
}

.closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
 
  background: transparent;
  font-size: larger;
  font-weight: bold;
  border: none;
}

.closebtn:hover {
  color: red;
  cursor: pointer;
}

.infobox {
 
  color: white;
}
.infobox h2 {
  color: rgb(3, 224, 3);
  text-align: center;
  padding-top: 0.5rem;
}
.infobox h4 {
  color: white;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}
.phone {
  color: white;
  padding-bottom: 0.5rem;

  
}



@keyframes slidein {
  from {
    left: -700px;
  }

  to {
    left: 0;
  }
}


@media(max-width:1000px){
  .mainsidebar{
    width: 70vw;
  }
  .closebtn{
    top: -9px;
    right: 0;
  }
}